__pycache__
transcriptions/*
temp/*
venv
.venv
uploads/*
recordings*
asset
.env
app.log
task.log
.venv

cuda_12.6.3_560.35.05_linux.run
cuda-repo-wsl-ubuntu-11-8-local_11.8.0-1_amd64.deb
transcription_with_timestamps.txt
transcription.txt
cuda_11.8.0_520.61.05_linux.run

.DS_Store